<h1>Enter your details</h1>
<!--
<form action= "<%= users_path%>" method="get">
  <label for="username">username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="email">email:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
-->

<%= form_for @user do |x| %>
<div>
<%= x.label :username%>
<%= x.text_field :username %>
</div>

<div>
<%= x.label :email%>
<%= x.text_field :email %>
</div>

<div>
<%= x.label :password%>
<%= x.password_field :password %>
</div>

<div>
<%= x.submit %>
</div>

<% end %>